* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', helvetica, sans-serif;
  margin: 0;
}

header {
  font-size: 1.4rem;
  font-weight: bold;
}

#navbar {
  background: honeydew;
  border-right: 2px solid pink;
  height: 100%;
  padding-top: 30px;
  position: fixed;
}

#navbar header {
  color: #6D2E46;
  padding: 0 30px;
}

#navbar ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding: 0;
}

.nav-link {
  border-top: 1px solid pink;
  color: #2B303A;
  font-size: 1rem;
  list-style-type: none;
  padding: 10px 30px;
  text-decoration: none;
}
#navbar ul a:hover {
  background: pink;
}

#main-doc {
  background: #fff;
  color: #2B303A;
  line-height: 1.6rem;
  margin-left: 300px;
  padding: 0 30px 30px 30px;
}

.main-section header {
  color: #6D2E46;
  /* color: black; */
  padding-top: 30px;
}

.main-section p, 
.main-section ul {
  margin-left: 20px;
}

.main-section code {
  background: #f7f7f7;
  display: block;
  font-size: 1.1em;
  margin: 0 40px;
  padding: 10px 10px;
}

/* style rules for tablet sized devices */
@media (max-width: 768px) {
  #navbar {
    width: 220px;
  }
  #main-doc {
    margin-left: 210px;
  }
}

/* style rules for mobile sized devices */
@media (max-width: 425px) {
  #navbar {
    background: pink;
    border: none;
    height: 182px;
    overflow: scroll;
    padding: 20px 0 0 0;
    position: static;
    text-align: center;
    width: 100%;
  }

  #navbar header {
    color: #6D2E46;
    letter-spacing: 1px;
  }

  .nav-link {
    background: honeydew;
  }

  #main-doc {
    border-top: 2px solid pink;
    padding: 0 10px;
    margin: 0;
  }
}